<h2>Games of 2014!</h2>
<ul>
  <% @gameinfo.each do |t| %>
    <li><%= t %></li>
  <% end %>
</ul>

<!-- <section id="update" -->
<form action="/" method="post">
  <input type="text" name="message" placeholder="Update Fact">
  <input type="submit">
</form>
<!-- </section> -->


