<h2>Fact of the Day!</h2>
<p> <%= @fact[0] %> </p>

<!-- <section id="update" -->
<form action="/" method="post">
  <input type="text" name="message" placeholder="Update Fact">
  <input type="submit">
</form>
<!-- </section> -->